.about-section-1 {

    & .container {
        width: 1280px;
        height: 450px;

        background-image: url('../images/coffee-table.jpg');
        background-repeat: no-repeat;
        background-size: 1280px 450px;

        padding-top: 137px;
        padding-left: 85px;
    }

    &__title {
        font-family: 'Fraunces';
        font-style: normal;
        font-weight: 900;
        font-size: 40px;
        line-height: 48px;
        color: #FEFCF7;
        margin-bottom: 24px;
    }

    &__text {
        font-family: 'Barlow';
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 26px;
        color: #FEFCF7;
        width: 445px;
    }
}