.section-2 {
    position: relative;
    padding-top: 136px;
    padding-bottom: 200px;

    &__title {
        font-family: 'Fraunces';
        font-style: normal;
        font-weight: 900;
        font-size: 150px;
        line-height: 120px;
        color: #83888F;
        background: linear-gradient(180deg, rgba(36, 35, 34, 0.986) 0%, #FEFCF7 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        z-index: -1;
        position: absolute;
        left: 307px;
        right: 330px;
        top: 70px;
        opacity: 0.2;
        display: block;
        margin: 0 auto;
        text-align: center;
    }

    &__list {
        list-style-type: none;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .first::before {
        content: "";
        width: 255px;
        height: 193px;
        display: inline-block;

        background-image: url('/images/espresso.png');
        background-repeat: no-repeat;
        background-size: 255px 193px;
        margin-right: 30px;
    }

    .second::before {
        content: "";
        width: 256px;
        height: 193px;
        display: inline-block;

        background-image: url('/images/planalto.png');
        background-repeat: no-repeat;
        background-size: 256px 193px;
        margin-right: 30px;
    }

    .third::before {
        content: "";
        width: 256px;
        height: 193px;
        display: inline-block;

        background-image: url('/images/piccollo.png');
        background-repeat: no-repeat;
        background-size: 256px 193px;
        margin-right: 30px;
    }

    .fourth::before {
        margin-top: 15px;
        content: "";
        width: 235px;
        height: 178px;
        display: inline-block;

        background-image: url('/images/danche.png');
        background-repeat: no-repeat;
        background-size: 235px 178px;
    }

    &__item--title {
        margin-top: 72px;
        font-family: 'Fraunces';
        font-style: normal;
        font-weight: 900;
        font-size: 24px;
        line-height: 32px;
        text-align: center;
        color: #333D4B;
        margin-bottom: 24px;
    }

    &__item--text {
        width: 255px;
        font-family: 'Barlow';
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 26px;
        text-align: center;
        color: #333D4B;
    }
}