.survey-section {
    padding-top: 159px;

    & .container {
        padding-left: 85px;
        display: flex;
    }

    .aside {
        margin-right: 125px;
    }

    .price-box {
        display: flex;
        align-items: center;
    }

    .price__text {
        text-decoration: none;
        font-family: 'Fraunces';
        font-style: normal;
        font-weight: 900;
        font-size: 24px;
        line-height: 32px;
        color: #333D4B;
        opacity: 0.4;
    }

    .price__text:active {
        opacity: 0.6;
    }

    .text-five {
        color: #333D4B;
        opacity: 0.9;
    }

    .price__number {
        font-family: 'Fraunces';
        font-style: normal;
        font-weight: 900;
        font-size: 24px;
        line-height: 32px;
    }

    .price-line {
        width: 255px;
        height: 1px;
        background: #83888F;
        opacity: 0.25;
        margin-top: 24px;
        margin-bottom: 24px;
        border: none;
    }

    .one {
        color: #0E8784;
        margin-right: 29px;
        opacity: 0.4;
    }

    .two {
        margin-right: 25px;
        color: #83888F;
        opacity: 0.5;
    }

    .three {
        margin-right: 26px;
        color: #83888F;
        opacity: 0.4;
    }

    .four {
        margin-right: 24px;
        color: #83888F;
        opacity: 0.3;
    }

    .five {
        margin-right: 26px;
        color: #83888F;
        opacity: 0.8;
    }
}

.survey-box {
    &__title {
        text-decoration: none;
        display: inline-block;
        font-family: 'Fraunces';
        font-style: normal;
        font-weight: 900;
        font-size: 40px;
        line-height: 48px;
        color: #83888F;
        margin-bottom: 56px;
    }

    &__menu {
        list-style-type: none;
        display: flex;
        margin-bottom: 88px;
    }

    &__item {
        cursor: pointer;
        width: 228px;
        height: 250px;
        background: #F4F1EB;
        border-radius: 8px;
        padding-top: 32px;
        padding-left: 28px;
        margin-right: 23px;
    }

    &__item:nth-child(2) {
        background: #0E8784;
        border-radius: 8px;
    }

    &__item:active {
        background: #FDD6BA;
        border-radius: 8px;
    }

    &__item1 {
        cursor: pointer;
        width: 228px;
        height: 250px;
        background: #F4F1EB;
        border-radius: 8px;
        padding-top: 32px;
        padding-left: 28px;
        margin-right: 23px;
    }

    &__item1:first-child {
        background: #0E8784;
        border-radius: 8px;
    }

    &__item1:active {
        background: #FDD6BA;
        border-radius: 8px;
    }

    &__item2 {
        cursor: pointer;
        width: 228px;
        height: 250px;
        background: #F4F1EB;
        border-radius: 8px;
        padding-top: 32px;
        padding-left: 28px;
        margin-right: 23px;
    }

    &__item2:last-child {
        background: #0E8784;
        border-radius: 8px;
    }

    &__item2:active {
        background: #FDD6BA;
        border-radius: 8px;
    }

    &__link {
        text-decoration: none;

    }
}

.survey {
    &_title {
        font-family: 'Fraunces';
        font-style: normal;
        font-weight: 900;
        font-size: 24px;
        line-height: 32px;
        color: #333D4B;
        margin-bottom: 24px;
    }


    &_text {
        font-family: 'Barlow';
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 26px;
        color: #333D4B;
        width: 172px;
    }


}

.white-title {
    color: #fff;
}

.white-text {
    color: #FEFCF7;
}

.bottom {
    &_box {
        width: 730px;
        height: 238px;
        background: #2C343E;
        padding-top: 31px;
        padding-left: 64px;
        margin-bottom: 40px;
    }

    &_text {
        font-family: 'Barlow';
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 26px;
        text-transform: uppercase;
        color: #FFFFFF;
        opacity: 0.5;
        margin-bottom: 8px;
    }

    &_block {
        font-family: 'Fraunces';
        font-style: normal;
        font-weight: 900;
        font-size: 24px;
        line-height: 40px;
        color: #FFFFFF;
        width: 602px;
    }

    &_span-another {
        color: #0E8784;
    }
}

.my-plan {
    cursor: pointer;
    display: block;
    margin-left: auto;
    margin-right: 25px;
    background: #0E8784;
    border-radius: 6px;
    font-family: 'Fraunces';
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    color: #FEFCF7;
    padding: 16px 36px;
    border: none;
    margin-bottom: 168px;
}

.my-plan:active {
    background: #66D2CF;
    border-radius: 6px;
}